:root {
    --deep-blue: rgb(0, 0, 139);
}

body {
    background-image: url("../background.jpg");
    color: white;
    font-family: Arial, sans-serif;
}

#title {
    text-align: center;
}

#prompt {
    border: 3px solid red;
    text-align: center;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 2rem;
    display: none;
    text-align: center;
    font-size: 20px;
}

.board {
    padding: 1rem;
    height: 350px;
    width: 420px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.board-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.square {
    border: 2px solid white;
    background-color: var(--deep-blue);
    height: 30px;
    line-height: 30px;
    color: white;
}

.square:hover {
    background-color: gold;
}

.ship-icon {
    height: 30px;
    width: 30px;
}

@media (min-width: 600px) {
    #container { grid-template-columns: repeat(2, 1fr); }
}

#new-game {
    text-align: center;
}

#player-name-label {
    font-size: 25px;
}

#player-name {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    background-color: var(--deep-blue);
    font-family: Impact;
    padding: 5px;
    border: 2px solid white;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: var(--deep-blue);
    font-weight: bold;
}

.button:hover {
    font-size: 25px;
}

#toggle-btn {
    display: none;
}

#replay-btn {
    display: none;
}